# This is a sample file. Copy it to application-secret.properties and fill it with your own values.
# DO NOT commit <application-secret.properties> to your repository.

### connexion MySQL
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

frontend.url=

# AWS
cloud.aws.region.static=
cloud.aws.credentials.profile-name=

s3.bucket.url=
s3.bucket.name=
s3.bucket.folder=